---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { WORK } from "@consts";

const experience = [
  {
    title: "Data Engineer",
    company: "Solita",
    duration: "Mar 2025 - Current",
    location: "Stockholm, Stockholm County, Sweden",
    description: "Currently, I am a data engineer at Solita where I design and develop data pipelines and workflows.<br><br>✦ Analyzed user journeys and removed friction points, cutting drop-offs by about 20%.<br>✦ Built and orchestrated complex, end-to-end data pipelines, from ingesting APIs to transformations.<br>✦ Owned data governance, defining retention rules and masking PII.",
    keySkills: ["Terraform", "DevOps", "plus 3 additional skills (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "Braive, Mental Healthcare App",
    duration: "Aug 2024 - Mar 2025",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Analyzed app usage data to optimize user funnels, resulting in effective onboarding and improved user retention.<br>✦ Assisted with user and data insights during AI feature sprints that eases the clinician workflow.<br>✦ Acted as a bridge between leadership and technical staff by translating business needs to events data tracking and data pipelines.",
    keySkills: ["End‑to‑End Project Management", "Docker", "plus 6 additional skills (not listed)"]
  },
  {
    title: "Master Thesis Intern",
    company: "RISE Research Institutes of Sweden",
    duration: "Jan 2024 - Jun 2024",
    location: "Gothenburg, Västra Götaland County, Sweden — On‑site",
    description: "✦ Worked as an ML engineer in cross-functional project between RISE and Smart Eye.<br>✦ Designed and built state of the art data synthesis methods.<br>✦ Assisted developers at Smart Eye with the implementation, which resulted in improved accuracy of autonomous‑driving systems.",
    keySkills: ["End‑to‑End Project Management", "Autonomous Driving", "plus 1 additional skill (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "KBLab, The National Library of Sweden",
    duration: "Jan 2023 - Dec 2023",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Curated large open source datasets, including the parliamentary proceedings, increasing transparency into the Swedish government.<br>✦ Helped with the training of Swedish Large Language models including KBWhisper.<br>✦ Built end-to-end pipelines for unstructured digitised materials, with OCR on PDFs, to text segmentation with Huggingface models, to structured datasets.",
    keySkills: ["Data Analytics", "Data Visualisation", "plus 2 additional skills (not listed)"]
  },
  {
    title: "Course Coordinator & Lecturer in Statistics",
    company: "Lund University",
    duration: "Aug 2021 - Jan 2022",
    location: "",
    description: "✦ Held hybrid lectures for 50+ undergraduates, also recording each session.<br>✦  Designed the course's materials and assignments. <br>✦ Taught experimental design, classification, and regression using real-world datasets.",
    keySkills: ["Project Management"]
  }
];
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          experience.map(entry => (
            <li class="animate">
              <div class="font-semibold text-black dark:text-white">
                {entry.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.title}
              </div>
              <div class="text-sm opacity-75">
                {entry.duration}
              </div>
              {entry.description && (
                <article class="mt-2">
                  <p set:html={entry.description}></p>
                </article>
              )}
            </li>
          ))
        }
      </ul>
      
      <div class="animate font-semibold text-black dark:text-white">
        Education
      </div>
      <ul class="flex flex-col space-y-4">
        <li class="animate">
          <div class="font-semibold text-black dark:text-white">
            Uppsala University
          </div>
          <div class="text-sm opacity-75">
            MSc - Machine Learning (Aug 2022 - Jun 2024)
          </div>
          <div class="text-sm opacity-75">
            BSc - Mathematics and Statistics (Aug 2018 - Jun 2022)
          </div>
        </li>
      </ul>
    </div>
  </Container>
</PageLayout>
