---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { WORK } from "@consts";
import { CV_DATA } from "@/cv-data";
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          CV_DATA.experience.map(entry => (
            <li class="animate">
              <div class="text-sm opacity-75">
                {entry.duration}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.title}
              </div>
              <div class="text-sm opacity-75 mb-2">
                {entry.location}
              </div>
              {entry.description && (
                <article class="text-sm mb-2">
                  <p>{entry.description}</p>
                </article>
              )}
              <div class="text-sm opacity-75">
                <strong>Key skills:</strong> {entry.keySkills.join(", ")}
              </div>
            </li>
          ))
        }
      </ul>
<!-- 
      <ul class="animate flex flex-col gap-4">

      </ul> -->
    </div>
  </Container>
</PageLayout>
