---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { WORK } from "@consts";

const experience = [
  {
    title: "Data Engineer",
    company: "Solita",
    duration: "Mar 2025 - Current",
    location: "Stockholm, Stockholm County, Sweden",
    description: "Currently, I am a data engineer at Solita where I consult on the design and development of data platforms.<br><br>✦ Built and maintained complex data pipelines, including API endpoints to transformations.<br>✦ Visualization of customer journeys, identification of friction in digital flows, and prediction of needs during different stages of the customer journey.<br>✦ Data governance, PII techniques, and workflow orchestration.",
    keySkills: ["Terraform", "DevOps", "plus 3 additional skills (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "Braive, Mental Healthcare App",
    duration: "Aug 2024 - Mar 2025",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Designed and developed the data platform at Braive, processing raw patients and clinicians event data and managing a large dbt codebase.<br>✦ Analysis of app usage data to optimize user funnels, resulting in improved onboarding and higher user retention.<br>✦ Performed AI PoCs in the braive app for automating the clinician workflow.",
    keySkills: ["End‑to‑End Project Management", "Docker", "plus 6 additional skills (not listed)"]
  },
  {
    title: "Master Thesis Intern",
    company: "RISE Research Institutes of Sweden",
    duration: "Jan 2024 - Jun 2024",
    location: "Gothenburg, Västra Götaland County, Sweden — On‑site",
    description: "✦ Led a research heavy cross-functional project between RISE and Smart Eye.<br>✦ Designed and implemented production-ready data synthesis methods.<br>✦ Improved the accuracy of autonomous‑driving models for the client.",
    keySkills: ["End‑to‑End Project Management", "Autonomous Driving", "plus 1 additional skill (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "KBLab, The National Library of Sweden",
    duration: "Jan 2023 - Dec 2023",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Worked with large volumes of unstructured data from digitized materials, building complex pipelines including from APIs, OCR systems from PDFs, and AI models in Huggingface.<br>✦ Developed and curated open source datasets, including the parliamentary proceedings, increasing transparency into the Swedish government.<br>✦ Helped with the training of Swedish Large Language models including KBWhisper.",
    keySkills: ["Data Analytics", "Data Visualisation", "plus 2 additional skills (not listed)"]
  },
  {
    title: "Course Coordinator & Lecturer in Statistics",
    company: "Lund University",
    duration: "Aug 2021 - Jan 2022",
    location: "",
    description: "✦ Designed coursework and selected material for course in statistics.<br>✦ Held lectures for 50 students, both physically and remotely, including video recordings.<br>✦ Taught experimental design, unsupervised classification, and regression methods.",
    keySkills: ["Project Management"]
  }
];
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          experience.map(entry => (
            <li class="animate">
              <div class="font-semibold text-black dark:text-white">
                {entry.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.title}
              </div>
              <div class="text-sm opacity-75">
                {entry.duration}
              </div>
              {entry.description && (
                <article class="mt-2">
                  <p set:html={entry.description}></p>
                </article>
              )}
            </li>
          ))
        }
      </ul>
      
      <div class="animate font-semibold text-black dark:text-white">
        Education
      </div>
      <ul class="flex flex-col space-y-4">
        <li class="animate">
          <div class="font-semibold text-black dark:text-white">
            Uppsala University
          </div>
          <div class="text-sm opacity-75">
            Msc - Machine Learning
          </div>
          <div class="text-sm opacity-75">
            Aug 2022 - Jun 2024
          </div>
        </li>
        <li class="animate">
          <div class="font-semibold text-black dark:text-white">
            Uppsala University
          </div>
          <div class="text-sm opacity-75">
            Bsc - Mathematics and Statistics
          </div>
          <div class="text-sm opacity-75">
            Aug 2018 - Jun 2022
          </div>
        </li>
      </ul>
    </div>
  </Container>
</PageLayout>
