---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { WORK } from "@consts";

const experience = [
  {
    title: "Data Engineer",
    company: "Solita",
    duration: "Mar 2025 - Current",
    location: "Stockholm, Stockholm County, Sweden",
    description: "Currently, I am a data engineer at Solita where I design and develop data pipelines and workflows for large clients.<br><br>✦ Analyzed product usage flows to remove friction points, cutting drop-offs by about 20%.<br>✦ Built and orchestrated complex, end-to-end data pipelines, from ingesting APIs to transformations.<br>✦ Owned data governance, defining data retention rules and PII.",
    keySkills: ["Terraform", "DevOps", "plus 3 additional skills (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "Braive, Mental Healthcare App",
    duration: "Aug 2024 - Mar 2025",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Analyzed app usage data to improve user funnels which led to effective onboarding and improved retention.<br>✦ Owned data in AI feature sprints that automated the clinician workflow.<br>✦ Gathered business needs to concrete events tracking in the app, enabling visibility into the product.",
    keySkills: ["End‑to‑End Project Management", "Docker", "plus 6 additional skills (not listed)"]
  },
  {
    title: "Master Thesis Intern",
    company: "RISE Research Institutes of Sweden",
    duration: "Jan 2024 - Jun 2024",
    location: "Gothenburg, Västra Götaland County, Sweden — On‑site",
    description: "✦ Worked as an ML engineer in an industrial project between RISE and Smart Eye.<br>✦ Designed, built, and trained data synthesis systems for autonomous driving.<br>✦ Assisted developers at Smart Eye with shipping to production, resulting in improved accuracy of AD systems.",
    keySkills: ["End‑to‑End Project Management", "Autonomous Driving", "plus 1 additional skill (not listed)"]
  },
  {
    title: "Data Scientist",
    company: "KBLab, The National Library of Sweden",
    duration: "Jan 2023 - Dec 2023",
    location: "Stockholm, Stockholm County, Sweden — Hybrid",
    description: "✦ Curated large national datasets, including the parliamentary proceedings, helping with transparency in the Swedish government.<br>✦ Provided data quality checks for the training of Swedish LLM's, such as KBWhisper.<br>✦ Built pre-processing workflows for digitised text material, with OCR on PDFs and text segmentation with Huggingface models.",
    keySkills: ["Data Analytics", "Data Visualisation", "plus 2 additional skills (not listed)"]
  }
];
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-4">
        { 
          experience.map(entry => (
            <li class="animate">
              <div class="font-semibold text-black dark:text-white">
                {entry.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.title}
              </div>
              <div class="text-sm opacity-75">
                {entry.duration}
              </div>
              {entry.description && (
                <article class="mt-2">
                  <p set:html={entry.description}></p>
                </article>
              )}
            </li>
          ))
        }
      </ul>
      
      <div class="animate font-semibold text-black dark:text-white">
        Education
      </div>
      <ul class="flex flex-col space-y-4">
        <li class="animate">
          <div class="font-semibold text-black dark:text-white">
            Uppsala University
          </div>
          <div class="text-sm opacity-75">
            MSc - Machine Learning (Aug 2022 - Jun 2024)
          </div>
          <div class="text-sm opacity-75">
            BSc - Mathematics and Statistics (Aug 2018 - Jun 2022)
          </div>
          <article class="mt-2">
            <p>While pursuing my degree, I delivered lectures and led workshops on experimental design and predictive modelling for data science undergrads. That taught me alot about explaining complex ideas clearly.<br><br> I developed quite a few projects during that time.<br><br>✦ A real-time data pipeline in Kafka + Spark Streaming on UPPMAX clusters.<br>✦ An implementation of a Bayesian sports ranking algorithm in Python.<br>✦ A benchmark and tuning of clustering algorithms on real datasets.</p>
          </article>
        </li>
      </ul>
    </div>
  </Container>
</PageLayout>
